/* Adding CSS Reset Code from http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Adding HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------------------------------------
                            CUSTOM STYLES                       
---------------------------------------------------------------*/
:root {
    --font-heading: swear-display,
        serif;
    --font-subheading: aviano-flare,
        sans-serif;
    --font-text: 'Poppins',
        sans-serif;
    --purple: #93278F;
    --green: #3CA670;
    --pink: #f9bee4;
}

/* -------------------------------------------------------- */
/*------------------------MOBILE  STYLES------------------- */
/* -------------------------------------------------------- */

html {
    font-family: var(--font-text);
    font-size: 12px;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/* LoVe HAte */
a,
a:link,
a:visited {
    color: inherit;
}

.active {
    background-color: var(--purple);
    color: #222;
}

/* LoVe HAte seudoclasses added Link, visited, Hover, Action Always styling the navigation*/
.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

/* Navigation Bar Styles */

.main-nav {
    background-color: var(--primary-color);
    background-size: cover;
}

.nav-list {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
}

.nav-list li {
    flex: 1;
}

.logo img {
    max-width: 200px;
}

.im {
    color: var(--green);
}

.our-moods {
    padding: 1em;
}

.our-moods h2 {
    font-size: 2.5em;
    font-family: var(--font-subheading);
    font-weight: 400;
    font-style: normal;
    color: var(--purple);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.our-moods img {
    width: 100%;
}

.our-moods h3 {
    font-size: 1.5em;
    font-family: var(--font-subheading);
    font-weight: 400;
    font-style: normal;
    color: grey;
    padding-top: .5em;
    padding-bottom: 2.5em;
    text-align: center;
}

.divorce:hover {
    transform: scale(1.05);
}


.babyshower:hover {
    transform: scale(1.05);
}

.belly:hover {
    transform: scale(1.05);
}

.services {
    padding: 1em;
}

.icecream1 {
    position: relative;
}

.icecream1 img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}


.customize-content {
    position: absolute;
    padding-top: 7em;
    top: 0;
    width: 100%;
    text-align: center;
}

.customize-content h4 {

    font-size: 4em;
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: normal;
    margin-top: -.3em;
    color: var(--green);
    text-align: center;
}

.customize-content h5 {

    font-family: var(--font-subheading);
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    color: var(--purple);
    text-align: center;
}

.customize-content p {
    font-weight: 400;
    font-size: 1.5em;
    font-family: var(--font-text);
    text-align: center;
    color: var(--purple);
    padding-bottom: 1em;
    padding-top: 1em;
}

.btn-light {

    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: rgba(242, 99, 192, 0.8);
    font-family: var(--font-text);
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    font-size: 1em;
    align-items: center;
    border: 3px rgba(255, 255, 255, 0.5);
}

.icecream3 {
    position: relative;
}

.icecream3 img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.plan-party {
    position: absolute;
    padding-top: 9em;
    top: 0;
    width: 100%;
    text-align: center;
}

.plan-party h4 {

    font-size: 4em;
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: normal;
    color: #F4EECE;
    text-align: center;
    margin-bottom: .3em;
}

.plan-party h5 {

    font-family: var(--font-subheading);
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    margin-top: -.2em;
    color: var(--pink);
    text-align: center;
}

.plan-party p {

    font-weight: 400;
    font-size: 1.5em;
    font-family: var(--font-text);
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.services img {
    width: 100%;
}

.site-footer {
    background-color: #EDFDE1;
    color: #A64484;
    font-family: var(--font-text);
    font-size: 1em;
    padding: 3em;
}

.footer p {
    padding-top: 1em;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer img {
    max-width: 40px;
    margin-left: 1em;
}

.socialmediaicons {
    text-align: center;
}


/*------------------------ABOUT US PAGE STYLES------------------- */

.banner {
    margin-top: 103px;
    height: 300px;
    background: url(../images/aboutusbanner.png) no-repeat center center;
    background-size: cover;
}

h1 {

    font-family: var(--font-heading);
    font-size: 5em;
    font-weight: 500;

    color: white;
    text-align: center;
    padding-top: 2em;
    animation: heartBeat;
}



.banner-info {

    background: rgba(60, 166, 112, 0.5);
    width: 100%;
    height: 100%;
}

.aboutus {
    background: rgba(244, 238, 206, .5);
}

.aboutusinfo {
    max-width: 1400px;
    margin: 0 auto;
    font-family: var(--font-text);
    font-size: 1.5em;
    font-weight: 200;
    padding: 2em;
    color: #4d4d4d;
}

.philosophy {
    background: rgba(244, 238, 206, .5);
    padding: 1em;
    padding-bottom: 3em;
}

.philosophy h2 {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 3em;
    color: var(--purple);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.philosophy p {
    font-family: var(--font-text);
    font-size: 1.5em;
    font-weight: 200;
    color: #4d4d4d;
    padding-left: 1em;
}

.purpose-image,
.ecommerce-image,
.innovation-image {
    display: block;
    margin-bottom: 0;
    width: 100%;
}

.purpose,
.innovation,
.ecommerce {
    background: rgba(254, 175, 161, .4);

    padding: 2em;
    margin-bottom: 1em;
}

.purpose-image {
    background: url(../images/purpose.jpeg) no-repeat;
    background-size: cover;
}

.innovation-image {
    background: url(../images/innovation.jpeg) no-repeat;
    background-size: cover;
}

.ecommerce-image {
    background: url(../images/ecommerce.jpeg) no-repeat;
    background-size: cover;
}

/*------------------------CONTACT US PAGE STYLES------------------- */

.contact-us {
    background: rgba(244, 238, 206, .5);
}

.contact-us h1 {
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 5em;
    color: #93D9A3;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 103px;
    background: #A64484;
}

.contact-us-banner {
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;
}

.contact-us h2 {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 3em;
    color: var(--purple);
    padding-top: 1em;
    padding-bottom: 1em;

}



.store li {
    font-family: var(--font-text);
    font-size: 1.5em;
    font-weight: 200;
    color: #4d4d4d;
    padding-top: 1em;
}

.table {

    width: 100%;
    margin-bottom: 1em;
    font-family: var(--font-text);
    font-size: 1.5em;
    font-weight: 200;
    color: #4d4d4d;

}

.table th:nth-child(n),
.table td:nth-child(n) {
    border: 1px solid var(--green);
    padding: 1em;
}

.table th {
    background-color: var(--green);
    color: white;
    font-weight: bold;
}

.location iframe {
    width: 100%;
    border-radius: 5px 20px 5px;
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.7);
}

.contact-us {
    padding: 1em;
}

.find-us img {
    width: 100%;
    border-radius: 5px 20px 5px;
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.7);
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    font-family: var(--font-text);
    font-size: 1.5em;
    font-weight: 300;
    color: #4d4d4d;

}

.contact-form input {
    width: 100%;
    margin-bottom: 1em;
    height: 50px;
    margin-top: 0.8em;
    border: 2px solid var(--pink);
    font-family: var(--font-text);
    font-size: 1.5em;
    font-weight: 300;
    color: #4d4d4d;
    padding-left: 1em;

}

.contact-form textarea {
    width: 100%;
    margin-bottom: 1em;
    height: 200px;
    margin-top: 0.8em;
    border: 2px solid var(--pink);
    font-family: var(--font-text);
    font-size: 1.5em;
    font-weight: 300;
    color: #4d4d4d;
    padding-left: 1em;
    padding-top: 1em;

}

.contact-form button {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: #F263C0;
    font-family: var(--font-text);
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    font-size: 1em;
    border: none;

}

.divorce:hover {
    transform: scale(1.1);
}


.babyshower:hover {
    transform: scale(1.1);
}

.belly:hover {
    transform: scale(1.1);
}

/* -------------------------------------------------------- */
/*------------------------TABLET  STYLES------------------- */
/* -------------------------------------------------------- */


@media screen and (min-width: 530px) {

    /*------------------------ABOUT US STYLES------------------- */

    .find-us {
        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "store location"
            "hours hours"
            "message message";
        gap: 2em;
    }

    .store {
        grid-area: store;
    }

    .our-store {
        max-height: 450px;
        overflow: hidden;
        border-radius: 5px 20px 5px;
        box-shadow: 5px 5px 5px rgb(102, 102, 102);

    }

    .location {
        grid-area: location;
    }

    .hours {
        grid-area: hours;
    }

    .message {
        grid-area: message;
    }
}

@media screen and (min-width: 760px) {


    .our-moods h2 {
        font-size: 3em;
        padding-bottom: 0;
    }

    .our-moods h3 {
        font-size: 2em;
    }

    .our-moods-info {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "one one one"
            "two three four";
        gap: 6em;
    }

    .our-moods-info h2 {
        grid-area: one;
    }

    .divorce {
        grid-area: two;
    }

    .babyshower {
        grid-area: three;
    }

    .belly {
        grid-area: four;
    }


    .customize-content h4 {
        font-weight: 400;
        font-size: 3em;
        font-family: var(--font-heading);

    }

    .customize-content h5 {
        font-size: 2.5em;

    }

    .customize-content p {
        font-family: var(--font-text);
        font-weight: 300;
        font-size: 1.5em;

    }

    .plan-party h4 {
        font-family: var(--font-heading);
        font-weight: 400;
        font-size: 3em;

    }

    .plan-party h5 {
        font-size: 2.5em;
        margin: none;
    }

    .plan-party p {
        font-family: var(--font-text);
        font-weight: 300;
        font-size: 1.5em;

    }

    .plan-party {
        margin-top: -2.5em;
    }

    .btn-light {
        padding: 13px 20px;
        font-size: 1em;
    }

    .btn-light:hover {
        background: var(--purple);
    }

    .services {
        margin: 0 auto;
        width: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "five five six seven seven"
            "five five eight seven seven";
    }

    .icecream1 {
        grid-area: five;
    }

    .icecream2 {
        grid-area: six;
    }

    .icecream4 {
        grid-area: eight;
    }

    .icecream3 {
        grid-area: seven;
    }

    .icecream2,
    .icecream4 {
        height: 100%;
    }

    .services {
        padding: 0;
    }

    /*------------------------ABOUT US STYLES------------------- */


    h1 {

        font-family: var(--font-heading);
        font-size: 5em;
        font-weight: 500;
        color: white;
        text-align: center;
        padding-top: 2em;
    }

    .aboutusinfo {
        font-size: 2em;
        text-align: center;
    }

    .philosophy p {
        font-size: 2em;
    }

    .our-philosophy {
        background: rgba(244, 238, 206, .5);
    }

    .purpose,
    .innovation,
    .ecommerce {
        display: block;
        margin-bottom: 0em;
    }

    .philosophy h2 {
        font-family: var(--font-heading);
        font-weight: 600;
        font-size: 3em;
        color: var(--purple);
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }


    .philosophy {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 4em;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "a b"
            "c d"
            "e f";
    }

    .purpose-image {
        grid-area: a;
    }

    .purpose {
        grid-area: b;
        padding-bottom: 6em;
    }

    .innovation {
        grid-area: c;
    }

    .innovation-image {
        grid-area: d;
    }

    .ecommerce-image {
        grid-area: e;
    }

    .ecommerce {
        grid-area: f;
    }


}

/* -------------------------------------------------------- */
/*------------------------DESKTOP STYLES------------------- */
/* -------------------------------------------------------- */

@media screen and (min-width: 992px) {
    .customize-content h4 {
        font-weight: 400;
        font-size: 4.5em;
        font-family: var(--font-heading);

    }

    .customize-content h5 {
        font-size: 3.5em;
        margin-top: .3em;
    }

    .customize-content p {
        font-family: var(--font-text);
        font-weight: 300;
        font-size: 2em;

    }

    .plan-party h4 {
        font-family: var(--font-heading);
        font-weight: 400;
        font-size: 4.5em;

    }

    .plan-party h5 {
        font-size: 3.5em;
        margin: none;
    }

    .plan-party p {
        font-family: var(--font-text);
        font-weight: 300;
        font-size: 2em;
        margin-top: -.6em;
    }

    .plan-party {
        margin-top: -3em;
    }

    .btn-light {
        padding: 13px 20px;
        font-size: 1.2em;
    }

    .our-moods h3 {
        font-size: 2.3em;
    }

    .contact-us-banner {
        margin-top: -1em;
        margin-left: -1em;
        margin-right: -1em;
    }

    .message {
        padding-bottom: 4em;

    }

}