/* Adding CSS Reset Code from http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Adding HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------------------------------------
                            CUSTOM STYLES                       
---------------------------------------------------------------*/
/* Mobile first */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/* LoVe HAte */
a,
a:link,
a:visited {
    color: inherit;
}

.active {
    background-color: #93278F;
    color: #222;
}

/* LoVe HAte seudoclasses added Link, visited, Hover, Action Always styling the navigation*/
.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

/* Navigation Bar Styles */

.main-nav {
    background-color: var(--primary-color);
    background-size: cover;
}

.nav-list {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
}

.nav-list li {
    flex: 1;
}

.logo img {
    max-width: 200px;
}

.im {
    color: #3CA670;
    /* font-size: 3em; */
}

.icons button {
    background: none;
    border: none;
}

.our-moods {
    padding: 1em;
}

.our-moods h2 {
    /* font-family: 'Gruppo',
        cursive;*/
    font-size: 2.5em;
    font-family: aviano-flare,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #93278F;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.our-moods img {
    width: 100%;
}

.our-moods h3 {
    /* font-family: 'Gruppo',
        cursive;*/
    font-size: 1.5em;
    font-family: aviano-flare,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    color: grey;
    padding-top: .5em;
    padding-bottom: 2.5em;
    text-align: center;
}

.services {
    padding: 1em;
}

.icecream1 {
    position: relative;
}

.icecream1 img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}


.customize-content {
    position: absolute;
    padding-top: 7em;
    top: 0;
    width: 100%;
    text-align: center;
}

.customize-content h4 {
    /* font: 400 40px 'Gilda Display',
        serif; */
    font-size: 3em;
    font-family: swear-display,
        serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -.3em;
    color: #3CA670;
    text-align: center;
}

.customize-content h5 {
    /* font-family: 'Gruppo',
        cursive;
    font-size: 3.5em; */
    font-family: aviano-flare,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    /* margin-top: -.2em; */
    color: #93278F;
    text-align: center;
}

.customize-content p {
    font: 300 15px 'Poppins',
        sans-serif;
    text-align: center;
    color: grey;
}

.btn-light {
    /* display: inline-block; */
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: rgba(242, 99, 192, 0.5);
    font-family: 'Poppins',
        sans-serif;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    font-size: 1em;
    align-items: center;
    border: 2px rgba(255, 255, 255, 0.5);
}

.icecream3 {
    position: relative;
}

.icecream3 img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.plan-party {
    position: absolute;
    padding-top: 9em;
    top: 0;
    width: 100%;
    text-align: center;
}

.plan-party h4 {
    /* font: 400 40px 'Gilda Display',
        serif; */
    font-size: 3em;
    font-family: swear-display, serif;
    font-weight: 400;
    font-style: normal;
    color: #F4EECE;
    text-align: center;
    margin-bottom: .3em;
}

.plan-party h5 {
    /* font-family: 'Gruppo',
        cursive; */
    font-family: aviano-flare,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    margin-top: -.2em;
    color: #F2ACDA;
    text-align: center;
}

.plan-party p {
    font: 300 15px 'Poppins',
        sans-serif;
    text-align: center;
    color: white;
}

.services img {
    width: 100%;
}

.site-footer {
    background-color: #EDFDE1;
    color: #A64484;
    font-family: 'Poppins',
        sans-serif;
    font-size: 1em;
    padding: 3em;
}

.footer p {
    padding-top: 1em;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer img {
    max-width: 40px;
    margin-left: 1em;
}

.socialmediaicons {
    text-align: center;
}



/* About Us Styles */

.banner {
    height: 300px;
    background: url(../images/aboutusbanner.png) no-repeat center center;
    background-size: cover;
}

h1 {
    background: #3CA670;
    font: 500 40px 'Gilda Display',
        serif;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.aboutus {
    background: rgba(244, 238, 206, .5);
}

.aboutusinfo {
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Poppins',
        sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    padding: 2em;
    color: #4d4d4d;
}

.philosophy {
    background: rgba(244, 238, 206, .5);
    padding: 1em;
}

.philosophy h2 {
    font: 600 40px 'Gilda Display',
        serif;
    color: #93278F;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.philosophy p {
    font-family: 'Poppins',
        sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    color: #4d4d4d;
    padding-left: 1em;
}

.philosophy img {
    display: block;
    margin-bottom: 0;
    width: 100%;
}

.purpose,
.innovation,
.ecommerce {
    background: rgba(254, 175, 161, .4);
    /* padding-bottom: 4em;
    padding-right: 1em; */
    padding: 2em;
    margin-bottom: 1em;
}

/* Contact Us Styles  */

.contact-us {
    background: rgba(244, 238, 206, .5);
}

.contact-us h2 {
    font: 600 40px 'Gilda Display',
        serif;
    color: #93278F;
    padding-top: 1em;
    padding-bottom: .5em;
    /* text-align: center; */
}

.store li {
    font-family: 'Poppins',
        sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    color: #4d4d4d;
    padding-top: 1em;
}

.table {

    width: 100%;
    margin-bottom: 1em;
    font-family: 'Poppins',
        sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    color: #4d4d4d;

}

.table th:nth-child(n),
.table td:nth-child(n) {
    border: 1px solid #3CA670;
    padding: 1em;
}

.table th {
    background-color: #3CA670;
    color: white;
    font-weight: bold;
}

.location iframe {
    width: 100%;
    border-radius: 5px 20px 5px;
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.7);
}

.contact-us {
    padding: 1em;
}

.find-us img {
    width: 100%;
    border-radius: 5px 20px 5px;
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.7);
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    font-family: 'Poppins',
        sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #4d4d4d;

}

.contact-form input {
    width: 100%;
    margin-bottom: 1em;
    height: 50px;
    margin-top: 0.8em;
    border: 2px solid #f9bee4;
    font-family: 'Poppins',
        sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #4d4d4d;
    padding-left: 1em;

}

.contact-form textarea {
    width: 100%;
    margin-bottom: 1em;
    height: 200px;
    margin-top: 0.8em;
    border: 2px solid #f9bee4;
    font-family: 'Poppins',
        sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #4d4d4d;
    padding-left: 1em;
    padding-top: 1em;

}

.contact-form button {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: #F263C0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    font-size: 1em;
    border: none;

}

/* -------------------------------------------------------- */
/*------------------------DESKTOP STYLES------------------- */
/* -------------------------------------------------------- */

@media screen and (min-width: 760px) {


    .our-moods h2 {
        font-size: 4em;
    }

    .our-moods h3 {
        font-size: 3em;
    }

    .our-moods-info {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "one one one"
            "two three four";
        gap: 6em;
    }

    .our-moods-info h2 {
        grid-area: one;
    }

    .divorce {
        grid-area: two;
    }

    .babyshower {
        grid-area: three;
    }

    .belly {
        grid-area: four;
    }

    .customize-content h4 {
        font: 400 50px 'Gilda Display',
            serif;
    }

    .customize-content h5 {
        font-size: 4.5em;

    }

    .customize-content p {
        font: 300 20px 'Poppins',
            sans-serif;
    }

    .plan-party h4 {
        font: 400 50px 'Gilda Display',
            serif;
    }

    .plan-party h5 {
        font-size: 4.5em;
    }

    .plan-party p {
        font: 300 20px 'Poppins',
            sans-serif;
    }

    .btn-light {
        padding: 13px 20px;
        font-size: 1.2em;
    }

    .services {
        margin: 0 auto;
        width: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "five five six seven seven"
            "five five eight seven seven";
    }

    .icecream1 {
        grid-area: five;
    }

    .icecream2 {
        grid-area: six;
    }

    .icecream4 {
        grid-area: eight;
    }

    .icecream3 {
        grid-area: seven;
    }

    .icecream2,
    .icecream4 {
        height: 100%;
    }


    /* About Us */

    h1 {
        font: 500 60px 'Gilda Display',
            serif;
    }

    .aboutusinfo {
        font-size: 2em;
        text-align: center;
    }

    .philosophy p {
        font-size: 2em;
    }

    .our-philosophy {
        background: rgba(244, 238, 206, .5);
    }

    .purpose,
    .innovation,
    .ecommerce {
        display: block;
        margin-bottom: 0em;
    }

    .philosophy h2 {
        font: 600 50px 'Gilda Display',
            serif;
        color: #93278F;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }


    .philosophy {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "a b"
            "c d"
            "e f";
    }

    .purpose-img {
        grid-area: a;
    }

    .purpose {
        grid-area: b;
    }

    .innovation {
        grid-area: c;
    }

    .innovation-img {
        grid-area: d;
    }

    .ecommerce-img {
        grid-area: e;
    }

    .ecommerce {
        grid-area: f;
    }

    /* Contact Us styles */

    .find-us {
        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "store location"
            "hours hours";
        gap: 2em;
    }

    .store {
        grid-area: store;
    }

    .location {
        grid-area: location;
    }

    .hours {
        grid-area: hours;
    }
}